.navbar {
  box-shadow: 0 2px 10px -2px lightgrey;
  height: 4vw;
  background-color: transparent;

  &__block {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    list-style-type: none;
    width: 50vw;

    &--link {
      text-decoration: none;
      color: #dfdfdf;
      font-size: 1.2vw;
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    li {
      padding: 2.5% 0 2.5% 10%;
      z-index: 5;
      text-shadow: 1px 1px 3px grey;
    }
  }

  .hornLogo {
    width: 6vw;
    position: relative;
    top: 1vw;
    left: 3.5vw;
    z-index: 3;
  }

  &__logo {
    font-family: "Hello Lucky";
    font-size: 2vw;
    width: 40%;
    margin: 0 4vw;
    position: relative;
    z-index: 10;
    text-shadow: 2px 2px 4px grey;
  }

  &__squiggle {
    font-family: "Hello Lucky Ornaments";
    position: relative;
    z-index: 3;
    font-size: 3vw;
    top: -3vw;
    left: 12vw;
    text-shadow: 2px 2px 4px grey;
  }
}
